<style>

	body{
		background-color: #20263c;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:70%;
		margin: 20px auto;
		padding:20px;
		background-color: #CAF0D3;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}






  .flex-header {
    background-color: #3490ce;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .flex-main {
    display: flex;
    flex: 1;
  }
  
  .flex-nav {
    background-color: rgb(243, 128, 93);
    padding-top: 1rem;
    flex: 1 1 5rem;
  }
  .flex-article {
    background-color: rgb(100, 228, 50);
    padding-top: 3rem;
    flex: 3 3;
  }
  
  .flex-footer{
    background-color: #3490ce;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  @media all and (max-width: 540px) {
    .flex-main {
      flex-direction: column;
    }
  }

</style>



<footer class="flex-footer">

    <h1>Index</h1>
    
    <h2>Ways to make money as a YouTube creator </h2>
    <li>Normal Ways</li>
    <li>Adsense/YouTube Partners(unreliable)</li>
    <li>Affiliates/Product Reviews, Traffic Links</li>
    <li>Sell Own Product</li>
    </li>Sell Merch( Create shirt)</li>
    <li>Channel Sponsors</li>
    <li>Brand Deal/Sponsorships</li>
    <li>Patreon</li>
    <li>Kickstarter</li>
    <li>Superchats</li>
    <li>Licensing Videos</li>
    <li>Superchat</li>
    <li>Brand Deals</li>
    <li>Channel memberships</li>
    <li>Digital Products</li>
    <li>Online Community</li>
    <li>Online Course</li>
    <li>Need to hire a team</li>
    Footer
     
  YouTube Content Plans:
  
  
  
  <li>DBS Broly Review <li>
  
  </footer>